* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 12px;
  background: url(https://images.wallpaperscraft.com/image/clock_time_dial_saying_sage_11128_1920x1200.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
}
